*{
    margin: 0;
    padding: 0;
}
.flex-container{
    flex-grow: 1;
}

.Text{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
.Subtext{
    display: flex;
    margin: auto;
    padding: 0;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.pc_images{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0px 10px;
    padding-top: 2%;
}
.player_images{
    display: flex;
    justify-content: center;
    gap: 0px 10px;
    padding-top: 10%;
    cursor: pointer;
}
img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    border: solid 3px; 
    
}